@page "/Error"

<PageTitle>404 - Not Found</PageTitle>

<div style="text-align: center; margin-top: 50px;">
    <MudText Typo="Typo.h1" Color="Color.Error">404</MudText>
    <MudText Typo="Typo.h4">Page Not Found</MudText>
    <MudText Typo="Typo.body1">Sorry, the page you are looking for does not exist.</MudText>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="GoHome">Go to Home</MudButton>
</div>

@code {
    [Inject] private NavigationManager NavigationManager { get; set; }

    private void GoHome()
    {
        NavigationManager.NavigateTo("/");
    }
}